﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DreamyReefs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DreamyReefs.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Container.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/Cards.css" asp-append-version="true">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <header>
        <!-- header section start -->
        <div class="header_section">
            <div class="header_main">
                <div class="container-fluid">
                    <div class="logo"><a asp-area="" asp-controller="Login" asp-action="Login">
                            <img src="~/images/Logo.png" alt="Logo" class="navbar-logo">
                        </a></div>
                    <div class="menu_main">
                        <ul>
                            <li class="active"><a id="inicio" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                            <li><a id="tours" asp-area="" asp-controller="Tour" asp-action="Index2">Tours</a></li>
                            <li><a id="acerca" asp-area="" asp-controller="Acercade" asp-action="Index">Acerca de</a></li>
                            <li class="active"><a id="review" asp-area="" asp-controller="Review"
                                    asp-action="Index2">Comentarios</a></li>
                        </ul>
                    </div>
                    &ensp;
                </div>
            </div>
            <div>
                <a href="https://wa.me/524495168427" class="btn-wsp" target="_blank">
                    <i class="fa fa-whatsapp icono"></i>
                </a>
            </div>


    </header>
    <div class="container2">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- copyright section start -->
    <div class="copyright_section">
        <div class="container">
            <div class="social_icon">
                <ul>
                    <li><a href="https://www.facebook.com/aleandro.ruvas" target="_blank"><img
                                src="~/images/fb-icon.png"></a></li>
                    <li><a href="https://www.instagram.com/alex.cozumel/" target="_blank"><img
                                src="~/images/instagram-icon.png"></a></li>
                    <li><a href="https://wa.me/524495168427" target="_blank"><img src="~/images/Whats2.png"></a></li>
                </ul>
            </div>
            <p class="copyright_text">
                2023 Todos los derechos reservados por DreamyReef.
            </p>
        </div>
    </div>

    <div id="loader" style="display: none;">
        <div class="loader-content">
            <div class="loader-spinner">
                <img src="~/images/DreamyReefs.gif" alt="Spinner GIF">
            </div>
        </div>
    </div>

    <!-- copyright section end -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cv5UpnX6tkyXm2g4g6kX8TKJs34" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7jyb9Jq+5jj6pUecp9tnXn4D10Dz+3e/j3f5+8nM6zp4IT7e"
        crossorigin="anonymous"></script>

    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpD0NniBpcfQFq2Xkc5TMlOBUlFHiPUzFqLw6XlJQ8e/J6dO6p5wJ6Jp6A"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUzF72TlZs2GpDQ+EA7CqD2v+6i2zV3Tjwo5TM6+0n2i"
        crossorigin="anonymous"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

    <script>
        // JavaScript
        document.getElementById('inicio').addEventListener('click', function () {
            event.preventDefault();

            var loader = document.getElementById('loader');
            loader.style.display = 'flex';
            loader.classList.add('fade-in');

            var duracionLoader = 1400;

            // Cargar la página después de que el loader haya aparecido
            setTimeout(function () {
                window.location.href = '/';
            }, duracionLoader);

            // Ocultar el loader después de que la página se haya cargado completamente
            window.addEventListener('load', function () {
                loader.classList.remove('fade-in');
                loader.classList.add('fade-out');

                setTimeout(function () {
                    loader.style.display = 'none';
                    loader.classList.remove('fade-out');
                }, 300); // Ajusta la duración de la animación de salida aquí
            });
        });

        document.getElementById('tours').addEventListener('click', function () {
            event.preventDefault();

            var loader = document.getElementById('loader');
            loader.style.display = 'flex';
            loader.classList.add('fade-in');

            var duracionLoader = 1400;

            // Cargar la página después de que el loader haya aparecido
            setTimeout(function () {
                window.location.href = '/Tour/Index2';
            }, duracionLoader);

            // Ocultar el loader después de que la página se haya cargado completamente
            window.addEventListener('load', function () {
                loader.classList.remove('fade-in');
                loader.classList.add('fade-out');

                setTimeout(function () {
                    loader.style.display = 'none';
                    loader.classList.remove('fade-out');
                }, 300); // Ajusta la duración de la animación de salida aquí
            });
        });

        document.getElementById('acerca').addEventListener('click', function () {
            event.preventDefault();

            var loader = document.getElementById('loader');
            loader.style.display = 'flex';
            loader.classList.add('fade-in');

            var duracionLoader = 1400;

            // Cargar la página después de que el loader haya aparecido
            setTimeout(function () {
                window.location.href = '/Acercade/Index';
            }, duracionLoader);

            // Ocultar el loader después de que la página se haya cargado completamente
            window.addEventListener('load', function () {
                loader.classList.remove('fade-in');
                loader.classList.add('fade-out');

                setTimeout(function () {
                    loader.style.display = 'none';
                    loader.classList.remove('fade-out');
                }, 300); // Ajusta la duración de la animación de salida aquí
            });
        });

        document.getElementById('review').addEventListener('click', function () {
            event.preventDefault();

            var loader = document.getElementById('loader');
            loader.style.display = 'flex';
            loader.classList.add('fade-in');

            var duracionLoader = 1400;

            // Cargar la página después de que el loader haya aparecido
            setTimeout(function () {
                window.location.href = '/Review/Index2';
            }, duracionLoader);

            // Ocultar el loader después de que la página se haya cargado completamente
            window.addEventListener('load', function () {
                loader.classList.remove('fade-in');
                loader.classList.add('fade-out');

                setTimeout(function () {
                    loader.style.display = 'none';
                    loader.classList.remove('fade-out');
                }, 300); // Ajusta la duración de la animación de salida aquí
            });
        });

        document.getElementById('Snorkeling').addEventListener('click', function () {

            var loader = document.getElementById('loader');
            loader.style.display = 'flex';
            loader.classList.add('fade-in');

            var duracionLoader = 1400;

            // Ocultar el loader después de que la página se haya cargado completamente
            setTimeout(function () {
                window.addEventListener('load', function () {
                    loader.classList.remove('fade-in');
                    loader.classList.add('fade-out');

                    setTimeout(function () {
                        loader.style.display = 'none';
                        loader.classList.remove('fade-out');
                    }, 300); // Ajusta la duración de la animación de salida aquí
                });
            }, duracionLoader);
        });

        document.getElementById('Buceo').addEventListener('click', function () {

            var loader = document.getElementById('loader');
            loader.style.display = 'flex';
            loader.classList.add('fade-in');

            var duracionLoader = 1400;

            // Ocultar el loader después de que la página se haya cargado completamente
            setTimeout(function () {
                window.addEventListener('load', function () {
                    loader.classList.remove('fade-in');
                    loader.classList.add('fade-out');

                    setTimeout(function () {
                        loader.style.display = 'none';
                        loader.classList.remove('fade-out');
                    }, 300); // Ajusta la duración de la animación de salida aquí
                });
            }, duracionLoader);
        });

        document.getElementById('Exploracion').addEventListener('click', function () {

            var loader = document.getElementById('loader');
            loader.style.display = 'flex';
            loader.classList.add('fade-in');

            var duracionLoader = 1400;

            // Ocultar el loader después de que la página se haya cargado completamente
            setTimeout(function () {
                window.addEventListener('load', function () {
                    loader.classList.remove('fade-in');
                    loader.classList.add('fade-out');

                    setTimeout(function () {
                        loader.style.display = 'none';
                        loader.classList.remove('fade-out');
                    }, 300); // Ajusta la duración de la animación de salida aquí
                });
            }, duracionLoader);
        });

        function registrosCreados() {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage) {
                swal.fire({
                    title: "Éxito",
                    text: successMessage,
                    icon: "success",
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: () => {
                        Swal.showLoading();
                    }
                });
            }
        }

        window.onload = registrosCreados;

    </script>
</body>

</html>