@{
    ViewData["Title"] = "Inicio";
    Layout = "_LayoutSitioGestion";
}
<div class="layout-page">
    <br />
    <br />
    <div class="row justify-content-center">

        <div class="col-md-8 ">
            <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">Panel Administraivo DreamyReef</h1>
        </div>
    </div>
</div>
