@model DreamyReefs.Models.Review
@{
    ViewData["Title"] = "Reviews";
    Layout = "_LayoutSitioGestion";
}

<div class="layout-page">
    <br />
    <br />
    <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">Eliminar opinion</h1>
    <div class="ms-4 me-4 mt-4 mb-4">
        <div data-aos="fade-up" data-aos-duration="1000">
            <div class="row row-cols-1 row-cols-md-2 justify-content-center">
                <div class="col">
                    <div class="card m-2" style="background-color: whitesmoke;border: 2px solid rgb(0 63 124);">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h6 class="fw-medium" style="color: rgb(40, 180, 99);"></h6>
                            </div>
                            <div>
                                <form asp-action="Eliminar" method="post">
                                    <div>
                                        <label asp-for="IDReviews" hidden>IDReviews</label>
                                        <input asp-for="IDReviews" placeholder="IDReviews" class="form-control" hidden
                                            readonly />
                                    </div>
                                    <div>
                                        <label asp-for="TourID">Nombre del Tour</label>
                                        <input asp-for="TourID" placeholder="Nombre del Tour" class="form-control"
                                            readonly />
                                        <span asp-validation-for="TourID" class="text-danger" readonly></span>
                                    </div>
                                    <div>
                                        <label asp-for="Comentario" class="form-label">Comentario</label>
                                        <textarea asp-for="Comentario" placeholder="Comentario"
                                            class="form-control resize-none" readonly></textarea>
                                        <span asp-validation-for="Comentario" class="text-danger" readonly></span>
                                    </div>
                                    &ensp;
                                    <div class="d-flex justify-content-end">
                                        <input type="submit" value="Eliminar opinión" class="btn btn-danger btn-md" />
                                        &ensp;
                                        <a asp-action="Index" class="btn btn-primary btn-md">Volver al listado</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>