@{
    ViewData["Title"] = "Tours";
    Layout = "_LayoutSitioGestion";
}
<div class="layout-page">
    <br />
    <br />
    <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">Tours</h1>
    <div class="ms-2 me-2 mt-2 mb-2">
        <div class="row d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="col col-lg-10">
                <div class="card m-2">
                    <div class="card-body">
                        <div>
                            <div class="d-flex justify-content-center">
                                <h6 class="fw-medium" style="color: rgb(180, 40, 40, 0.793);">Inactivo</h6>
                            </div>
                            <div>
                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Nombre del
                                    Tours:</label>
                                <h6 class="card-title">Tour el Cielo</h6>
                            </div>

                            <div>
                                <label
                                    style="font-size: medium; font-weight: bold; display: inline-block;">Itinerario:</label>
                                <h6 class="card-title" style="text-align: justify;">Ponemos a su disposición el
                                    siguiente itinerario, dejando muy en claro que todos los tiempos
                                    son aproximados y pueden variar por situaciones fuera de nuestro control, por
                                    seguridad del grupo o por común
                                    acuerdo de la mayoría de los participantes de la excursión.</h6>
                            </div>

                            <div>
                                <label
                                    style="font-size: medium; font-weight: bold; display: inline-block;">Descripción:</label>
                                <h6 class="card-title" style="text-align: justify;">Si estas buscando una excursión que
                                    sea un tipo diferente de aventura, Cozumel El Cielo Tour es
                                    perfecta para ti. Es un perfecto balance de exploración y relajación, lleno de
                                    diversión con una de las mas cristalinas aguas del caribe mexicano
                                    puede ofrecer.</h6>
                            </div>

                            <div>
                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Precio de
                                    Adulto:</label>
                                <h6 class="fw-normal" style="display: inline-block;">$550</h6>

                                &ensp;

                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Precio de
                                    Niño:</label>
                                <h6 class="fw-normal" style="display: inline-block;">$350</h6>
                            </div>

                            <div>
                                <label
                                    style="font-size: medium; font-weight: bold; display: inline-block;">Horario:</label>
                                <h6 class="fw-normal" style="display: inline-block;">Mañana</h6>

                                &ensp;

                                <label
                                    style="font-size: medium; font-weight: bold; display: inline-block;">Idioma:</label>
                                <h6 class="fw-normal" style="display: inline-block;">Ingles</h6>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <a type="button" class="btn btn-primary text-white btn-modify">Modificar</a>
                            &ensp;
                            <a type="button" class="btn btn-secondary text-white btn-delete">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-10">
                <div class="card m-2">
                    <div class="card-body">
                        <div>
                            <div class="d-flex justify-content-center">
                                <h6 class="fw-medium" style="color: rgb(40, 180, 99);">Activo</h6>
                            </div>
                            <div>
                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Nombre del
                                    Tours:</label>
                                <h6 class="card-title">Tour el Cielo</h6>
                            </div>

                            <div>
                                <label
                                    style="font-size: medium; font-weight: bold; display: inline-block;">Itinerario:</label>
                                <h6 class="card-title" style="text-align: justify;">Ponemos a su disposición el
                                    siguiente itinerario, dejando muy en claro que todos los tiempos
                                    son aproximados y pueden variar por situaciones fuera de nuestro control, por
                                    seguridad del grupo o por común
                                    acuerdo de la mayoría de los participantes de la excursión.</h6>
                            </div>

                            <div>
                                <label
                                    style="font-size: medium; font-weight: bold; display: inline-block;">Descripción:</label>
                                <h6 class="card-title" style="text-align: justify;">Si estas buscando una excursión que
                                    sea un tipo diferente de aventura, Cozumel El Cielo Tour es
                                    perfecta para ti. Es un perfecto balance de exploración y relajación, lleno de
                                    diversión con una de las mas cristalinas aguas del caribe mexicano
                                    puede ofrecer.</h6>
                            </div>

                            <div>
                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Precio de
                                    Adulto:</label>
                                <h6 class="fw-normal" style="display: inline-block;">$550</h6>

                                &ensp;

                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Precio de
                                    Niño:</label>
                                <h6 class="fw-normal" style="display: inline-block;">$350</h6>
                            </div>

                            <div>
                                <label
                                    style="font-size: medium; font-weight: bold; display: inline-block;">Horario:</label>
                                <h6 class="fw-normal" style="display: inline-block;">Mañana</h6>

                                &ensp;

                                <label
                                    style="font-size: medium; font-weight: bold; display: inline-block;">Idioma:</label>
                                <h6 class="fw-normal" style="display: inline-block;">Ingles</h6>
                            </div>

                            <div>
                                
                            </div>

                        </div>

                        <div class="d-flex justify-content-end">
                            <a type="button" class="btn btn-primary text-white btn-modify">Modificar</a>
                            &ensp;
                            <a type="button" class="btn btn-secondary text-white btn-delete">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
