@{
    ViewData["Title"] = "Acerca de";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Drea</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="~/css/Container.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/slider.css">
    <link rel="stylesheet" href="~/css/container3.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Righteous&display=swap" rel="stylesheet">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
</head>

<body>
    <div class="about_section layout_padding">
        <div class="container3">
            <div class="row">
                <div class="col-md-9">
                    <div class="about_taital_main">
                        <h1 class="h11">Acerca de DreamyReefs</h1>
                        <p class="about_text" style="font-size: 20px;font-family: ui-serif;">
                            ¡Bienvenidos a DreamyReef! Somos una empresa especializada en brindar experiencias
                            inolvidables de snorkel
                            en los destinos más fascinantes del mundo. Nuestra pasión se centra en sumergirnos en la
                            belleza del océano y
                            compartir la emoción de explorar los arrecifes de coral. En esta ocasión, te invitamos a
                            unirte a nosotros en
                            un viaje mágico hacia la deslumbrante isla de Cozumel, un auténtico paraíso caribeño donde
                            el snorkel cobra vida.
                            Nuestros guías expertos te llevarán a descubrir los rincones más sorprendentes de los
                            arrecifes, donde podrás
                            maravillarte con corales vibrantes, peces tropicales de colores brillantes, majestuosas
                            tortugas marinas y delfines
                            juguetones. Además de la increíble experiencia de snorkel, podrás disfrutar de las playas de
                            ensueño de Cozumel y
                            explorar las antiguas ruinas mayas que se encuentran en la isla. En DreamyReef, nuestra
                            misión es brindarte una experiencia
                            inolvidable, donde puedas sumergirte en la magia del océano y vivir la aventura acuática de
                            tus sueños. ¡Únete a nosotros y
                            descubre la maravilla de Cozumel con DreamyReef, donde cada momento te llevará a explorar un
                            mundo submarino lleno de asombro
                            y diversión!
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div><img src="/images/DreamyReefs.jpg" class="tour-image img-fluid" style="border-radius: 20px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about_section layout_padding">
        <div class="container3" style="width: 80%;">
            <div class="row">
                <h1 class="h12" style="padding-bottom: 30px;">Propietario de DreamyReefs</h1>
                <div class="col-md-3">
                    <div class="image-container">
                        <img src="../images/Alejandro.jpg" alt="Imagen del tour" class="tour-image img-fluid"
                            style="border-radius: 20px;">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="about_taital_main">
                        <h1 class="h10">Javier Alejandro Ruvalcaba Novelo</h1>
                        <p class="about_text" style="font-size: 20px;font-family: ui-serif;">
                            Soy fundador y propietario de DreamyReef. Mi pasión por el snorkel y la exploración
                            submarina ha sido una parte integral de mi vida. Con una profunda conexión con el océano
                            y un entusiasmo inquebrantable, me he convertido en un líder destacado en la industria del
                            snorkel en Cozumel. Mi enfoque principal siempre ha sido garantizar la seguridad y la
                            diversión
                            de cada viajero que se une a nosotros en los tours de snorkel. Con un cuidadoso enfoque en
                            los detalles
                            y una atención meticulosa, me aseguro de que cada experiencia sea emocionante y segura para
                            todos los
                            participantes. Además de mi amor por el océano, también siento un profundo respeto por la
                            historia y la
                            cultura que se encuentra en Cozumel. Siempre busco compartir mi conocimiento sobre las
                            antiguas ruinas
                            y la estrecha relación entre la civilización y el entorno marino. Me enorgullece crear un
                            ambiente cálido
                            y acogedor para todos los viajeros que visitan DreamyReef. Mi objetivo es proporcionar una
                            experiencia
                            excepcional en cada detalle, desde la calidad del equipo de snorkel hasta la elección de los
                            lugares más
                            impresionantes para explorar. Es un verdadero placer para mí ser tu guía en la maravillosa
                            aventura de
                            descubrir los arrecifes de Cozumel. Estoy comprometido con brindarte una experiencia
                            inolvidable llena de emoción,
                            descubrimiento y conexión con la belleza natural de este lugar. ¡Únete a mí en DreamyReef y
                            juntos viviremos
                            momentos increíbles en las aguas cristalinas de Cozumel!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="client_section layout_padding">
        <div class="container3">
            <h1 class="h12" style="font-weight: bold;">Desarrolladores</h1>
            <div class="container-fluid" style="align-content:center;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card2" style="background-color: white;border: 2px solid rgb(0 63 124);">
                            <div class="col-md-12">
                                <div class="image-container">
                                    <img src="/images/brandini.jpg" alt="Imagen del tour" class="tour-image img-fluid"
                                        style="border-radius: 15px;">
                                </div>
                            </div>
                            <div class="card-body" style="display: flex; align-items: center; justify-content: center;">
                                <h5 style="text-align: center;padding: 0;">Brandon Jefte Avila Ramayo</h5>
                                <a href="https://www.linkedin.com/in/brandon-jefte-avila-ramayo-631706263" target="_blank"
                                    style="margin-left: 10px;">
                                    <img src="~/images/linkedin.png">
                                </a>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <h4>
                                    +52 999 902 3763
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card2" style="background-color: white;border: 2px solid rgb(0 63 124);">
                            <div class="col-md-12">
                                <div class="image-container">
                                    <img src="/images/Pedro.jpg" alt="Imagen del tour" class="tour-image img-fluid"
                                        style="border-radius: 15px;">
                                </div>
                            </div>
                            <div class="card-body" style="display: flex; align-items: center; justify-content: center;">
                                <h5 style="text-align: center;padding: 0;">Pedro Victor Ruvalcaba Novelo</h5>
                                <a href="https://www.linkedin.com/in/pedro-victor-ruvalcaba-novelo-532434237/" target="_blank"
                                    style="margin-left: 10px;">
                                    <img src="~/images/linkedin.png">
                                </a>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <h4>
                                    +52 999 215 6574
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card2" style="background-color: white;border: 2px solid rgb(0 63 124);">
                            <div class="col-md-12">
                                <div class="image-container">
                                    <img src="/images/JavierFoto.jpeg" alt="Imagen del tour"
                                        class="tour-image img-fluid" style="border-radius: 15px;">
                                </div>
                            </div>
                            <div class="card-body" style="display: flex; align-items: center; justify-content: center;">
                                <h5 style="text-align: center;padding: 0;">Javier Ricardo Balam Tec</h5>
                                <a href="https://www.linkedin.com/in/javier-ricardo-balam-tec-a55810284/" target="_blank"
                                    style="margin-left: 10px;">
                                    <img src="~/images/linkedin.png">
                                </a>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <h4>
                                    +52 999 103 8446
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
