@model DreamyReefs.Models.Reservacion
@{
    ViewData["Title"] = "Reservaciones";
    Layout = "_LayoutSitioGestion";
}

    <div class="layout-page">
        <br />
        <br />
        <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">Eliminar reservacion</h1>
        <div class="ms-4 me-4 mt-4 mb-4">
            <div data-aos="fade-up" data-aos-duration="1000">
                <div class="row row-cols-1 row-cols-md-2 justify-content-center">
                    <div class="col">
                        <div class="card m-2">
                                <div class="card-body">
                                    <div class="d-flex justify-content-center">
                                        <h6 class="fw-medium" style="color: rgb(40, 180, 99);"></h6>
                                    </div>
                                    <div>
                                        <form asp-action="Eliminar" method="post">
                                            <div>
                                                <label asp-for="IDReservaciones" hidden></label>
                                                <input asp-for="IDReservaciones"
                                                    placeholder="IDReservaciones" class="form-control" hidden readonly disabled/>
                                                <span asp-validation-for="IDReservaciones" class="text-danger" hidden readonly disabled></span>
                                            </div>
                                            <div>
                                                <label asp-for="NombreCompleto"></label>
                                                <input asp-for="NombreCompleto"
                                                    placeholder="Nombre Completo" class="form-control" readonly disabled/>
                                                <span asp-validation-for="NombreCompleto" class="text-danger" readonly disabled></span>
                                            </div>
                                            <div>
                                                <label asp-for="Telefono" class="form-label"></label>
                                                <input asp-for="Telefono"
                                                    placeholder="Telefono" class="form-control" readonly disabled/>
                                                <span asp-validation-for="Telefono" class="text-danger" readonly disabled></span>
                                            </div>
                                            <div>
                                                <label asp-for="Email" class="form-label"></label>
                                                <input asp-for="Email"
                                                    placeholder="Correo" class="form-control" readonly disabled/>
                                                <span asp-validation-for="Email" class="text-danger" readonly disabled></span>
                                            </div>
                                            <div>
                                                <label asp-for="Adultos" class="form-label"></label>
                                                <input asp-for="Adultos"
                                                    placeholder="Numero de adultos" class="form-control" readonly disabled/>
                                                <span asp-validation-for="Adultos" class="text-danger" readonly disabled></span>
                                            </div>
                                            <div>
                                                <label asp-for="Infantes" class="form-label"></label>
                                                <input asp-for="Infantes"
                                                    placeholder="Numero de niños" class="form-control" readonly disabled/>
                                                <span asp-validation-for="Infantes" class="text-danger" readonly disabled></span>
                                            </div>
                                            <div>
                                                <label asp-for="Estatus" class="form-label" hidden readonly disabled></label>
                                                <input asp-for="Estatus"
                                                    placeholder="Estatus" value="Pendiente" class="form-control" hidden readonly disabled/>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <input type="submit" value="Eliminar reservacion" class="btn btn-danger d-grid w-100"/>
                                                <a asp-action="Index" class="btn btn-primary d-grid w-100">Volver al listado</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>