@model DreamyReefs.Models.AccesoWeb
@{
    ViewData["Title"] = "DreamyReefs";
    Layout = "_LayoutLogin";
}

<link rel="stylesheet" href="~/css/Bodylogin.css">

<body>
    <div class="container-bg">
        <div class="card-container">
            <div class="card m-2">
                <div class="card-body">
                    <div>
                        <form asp-action="Login" asp-controller="Login" method="post">
                            <div>
                                <label asp-for="Correo" class="form-label">Correo:</label>
                                <input asp-for="Correo" placeholder="Ingresa tu correo electrónico"
                                       class="form-control" autocomplete="off" />
                                <span asp-validation-for="Correo" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="Contrasena" class="form-label">Contraseña:</label>
                                <input asp-for="Contrasena" placeholder="Ingresa tu contraseña"
                                       class="form-control" type="password" autocomplete="off" />
                                <span asp-validation-for="Contrasena" class="text-danger"></span>
                            </div>
                            &ensp;
                            <div class="d-flex justify-content-center">
                                <input type="submit" value="Iniciar sesión" class="btn btn-primary d-grid w-100" />
                            </div>
                            <div class="d-flex justify-content-center">
                                <label class="alert-danger">@ViewBag.Error</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>