.container2 {
	width: 100% !important;
	margin-right: auto;
	margin-left: auto;
}
.container4 {
	width: 100% !important;
	margin-right: auto;
	margin-left: auto;
	padding: 30px;
}
h1 {
	font-size: 30px !important;
	font-weight: bold !important;
	color: #111111 !important;
	margin: 0;
}
.h11 {
	font-size: 50px !important;
	font-weight: bold !important;
	color: black !important;
	margin: 0;
}

.h12 {
	font-size: 50px !important;
	font-weight: bold !important;
	text-align: center;
	color: black !important;
	margin: 0;
}

@media (min-width: 1980px) {
	.container2 {
		width: 100% !important;
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right:15px;
	}
}

.blog-post {
	display: flex;
	align-items: center;
	max-width: 90rem;
	background-color: #fff;
	padding: 2.5rem;
	box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
	border-radius: 0.8rem;
}

 

.blog-post_img {
	position: relative;
	min-width: 35rem;
	max-width: 35rem;
	height: 35rem;
	transform: translateX(-8rem);
}

.blog-post_img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.8rem;
}

 
.blog-post_img::before {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	box-shadow: 0.5rem 0.5rem 3rem 1px     rgba(0,0,0,0.05);
	border-radius: 0.8rem;
	opacity: 0.5;
}

 

.blog-post_date span {
	display: block;
	color: #8e8c8c;
	font-weight: 600;
	margin: 0.5rem 0;
}

 

.blog-post_title {
	font-size: 2.5rem;
	margin: 1.5rem 0 2rem;
	text-transform: uppercase;
	padding-bottom: 0px;
	color: #4facfe;
}
 

.blog-post_info p {
	margin-bottom: 3rem;
	color: rgba(0,0,0,0.7);
}

 

.blog-post_cta {
	display: inline-block;
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	padding: 1.5rem 3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0.8rem;
}

	 
	.blog-post_cta:hover {
		background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
	}

.InformacionExtra {
	display: inline-block; /* Mostrar los elementos en línea */
	vertical-align: top; /* Alinear los elementos en la parte superior */
	margin-left: 10px; /* Agregar un margen a la izquierda para separar los elementos */
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: none !important;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.lista-estilizada {
	list-style: none;
	padding: 0;
	margin: 0;
}

	.lista-estilizada li {
		margin-bottom: 10px;
	}

		.lista-estilizada li::before {
			content: "\25A0"; /* Utiliza el código unicode para un cuadrado */
			color: deepskyblue; /* Cambia el color del marcador de lista aquí */
			font-size: 12px;
			margin-right: 5px;
		}

