.container2 {
	width: 100% !important;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	font-size: 50px !important;
	font-weight: bold !important;
	color: white !important;
	margin: 0;
}
.h11 {
	font-size: 50px !important;
	font-weight: bold !important;
	color: black !important;
	margin: 0;
}

.h12 {
	font-size: 50px !important;
	font-weight: bold !important;
	text-align: center;
	color: black !important;
	margin: 0;
}

@media (min-width: 1980px) {
	.container2 {
		width: 100% !important;
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right:15px;
	}
}

.blog-post {
	display: flex;
	align-items: center;
	max-width: 90rem;
	background-color: #fff;
	padding: 2.5rem;
	box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
	border-radius: 0.8rem;
}

 

.blog-post_img {
	position: relative;
	min-width: 35rem;
	max-width: 35rem;
	height: 35rem;
	transform: translateX(-8rem);
}

.blog-post_img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.8rem;
}

 
.blog-post_img::before {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	box-shadow: 0.5rem 0.5rem 3rem 1px     rgba(0,0,0,0.05);
	border-radius: 0.8rem;
	opacity: 0.5;
}

 

.blog-post_date span {
	display: block;
	color: #8e8c8c;
	font-weight: 600;
	margin: 0.5rem 0;
}

 

.blog-post_title {
	font-size: 2.5rem;
	margin: 1.5rem 0 2rem;
	text-transform: uppercase;
	padding-bottom: 0px;
	color: #4facfe;
}
 

.blog-post_info p {
	margin-bottom: 3rem;
	color: rgba(0,0,0,0.7);
}

 

.blog-post_cta {
	display: inline-block;
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	padding: 1.5rem 3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0.8rem;
}

	 
	.blog-post_cta:hover {
		background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
	}

.DetalleTour{
	display: block;
    width: 255%;
    padding: 0.375rem 0.75rem;
    font-size: 2rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none !important;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.DescripcionesTour{
	display: block;
    width: 255%;
	padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none !important;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.InformacionExtra{
	padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none !important;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea{
	overflow: hidden !important;
	resize: none !important;
	height: 120px;
}