@model DreamyReefs.Models.Transportes
@{
    ViewData["Title"] = "Reviews";
    Layout = "_LayoutSitioGestion";
}

<div class="layout-page">
    <br />
    <br />
    <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">Agregar Transportes</h1>
    <div class="ms-4 me-4 mt-4 mb-4">
        <div data-aos="fade-up" data-aos-duration="1000">
            <div class="row row-cols-1 row-cols-md-2 justify-content-center">
                <div class="col">
                    <div class="card m-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h6 class="fw-medium" style="color: rgb(40, 180, 99);"></h6>
                            </div>
                            <div>
                                <form asp-action="Crear" method="post">
                                    <div class="form-group">
                                        <label asp-for="NombreEmpresa">Nombre de la empresa</label>
                                        <input asp-for="NombreEmpresa" class="form-control"
                                            placeholder="Nombre de la empresa" />
                                        <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Transporte" class="form-label">Transporte</label>
                                        <input asp-for="Transporte" class="form-control"
                                            placeholder="Transporte de la empresa" />
                                        <span asp-validation-for="Transporte" class="text-danger"></span>
                                    </div>
                                    &ensp;
                                    <div class="d-flex justify-content-end">
                                        <input type="submit" value="Agregar Transporte"
                                            class="btn btn-success btn-md" />
                                            &ensp;
                                        <a asp-action="Index" class="btn btn-primary btn-md">Volver al listado</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
