@{
    ViewData["Title"] = "Usuarios";
    Layout = "_LayoutSitioGestion";
}
<div class="layout-page">
    <br />
    <br />
    <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">Usuarios</h1>
    <div class="ms-4 me-4 mt-4 mb-4">
        <div data-aos="fade-up" data-aos-duration="1000">
            <div class="row row-cols-1 row-cols-md-2 justify-content-center">
                <div class="col">
                    <div class="card m-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h6 class="fw-medium" style="color: rgb(40, 180, 99);">Activo</h6>
                            </div>

                            <div>
                                <div>
                                    <label style="font-size: medium; font-weight: bold; display: inline-block;">Usuario:</label>
                                    <h6 class="card-title" style="display: inline-block;">Javier Alejandro RUvalcaba Novelo</h6>
                                </div>

                                <div>
                                    <label style="font-size: medium; font-weight: bold; display: inline-block;">Correo:</label>
                                    <h6 class="card-title" style="display: inline-block;">javier@hotmail.com</h6>
                                </div>

                                <div>
                                    <label style="font-size: medium; font-weight: bold; display: inline-block;">Contraseña:</label>
                                    <h6 class="card-title" style="display: inline-block;">***********</h6>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <a type="button" class="btn btn-primary text-white btn-modify">Modificar</a>
                                &nbsp;
                                <a type="button" class="btn btn-secondary text-white btn-delete">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card m-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h6 class="fw-medium" style="color: rgb(180, 40, 40, 0.793);">Inactivo</h6>
                            </div>

                            <div>
                                <div>
                                    <label style="font-size: medium; font-weight: bold; display: inline-block;">Usuario:</label>
                                    <h6 class="card-title" style="display: inline-block;">Empleado ejemplo 1</h6>
                                </div>

                                <div>
                                    <label style="font-size: medium; font-weight: bold; display: inline-block;">Correo:</label>
                                    <h6 class="card-title" style="display: inline-block;">ejemplo@hotmail.com</h6>
                                </div>

                                <div>
                                    <label style="font-size: medium; font-weight: bold; display: inline-block;">Contraseña:</label>
                                    <h6 class="card-title" style="display: inline-block;">***********</h6>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <a type="button" class="btn btn-primary text-white btn-modify">Modificar</a>
                                &nbsp;
                                <a type="button" class="btn btn-secondary text-white btn-delete">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
