@{
    ViewData["Title"] = "Transportes";
    Layout = "_LayoutSitioGestion";
}
<div class="layout-page">
    <br />
    <br />
    <h1 style="text-align: center;" data-aos="zoom-in" data-aos-duration="900">Transportes</h1>
    <div class="ms-4 me-4 mt-4 mb-4">
        <div>
            <div class="row" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-sm-6 col-md-4">
                    <div class="card m-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h6 class="fw-medium" style="color: rgb(40, 180, 99);">Activo</h6>
                            </div>
                            <div>
                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Nombre empresa:</label>
                                <h6 class="card-title" style="display: inline-block;">Marineros</h6>
                            </div>
                            <div>
                                <div>
                                    <label style="font-size: medium; font-weight: bold; display: inline-block;">Tipo de vehiculo:</label>
                                    <h6 class="card-title" style="display: inline-block;">Autobus</h6>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <a type="button" class="btn btn-primary text-white btn-modify">Modificar</a>
                                &nbsp;
                                <a type="button" class="btn btn-secondary text-white btn-delete">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card m-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h6 class="fw-medium" style="color: rgb(40, 180, 99);">Activo</h6>
                            </div>
                            <div>
                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Nombre empresa:</label>
                                <h6 class="card-title" style="display: inline-block;">Capitanes</h6>
                            </div>
                            <div>
                                <div>
                                    <label style="font-size: medium; font-weight: bold; display: inline-block;">Tipo de vehiculo:</label>
                                    <h6 class="card-title" style="display: inline-block;">Lancha</h6>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <a type="button" class="btn btn-primary text-white btn-modify">Modificar</a>
                                &nbsp;
                                <a type="button" class="btn btn-secondary text-white btn-delete">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card m-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h6 class="fw-medium" style="color: rgb(180, 40, 40, 0.793);">Inactivo</h6>
                            </div>
                            <div>
                                <label style="font-size: medium; font-weight: bold; display: inline-block;">Nombre empresa:</label>
                                <h6 class="card-title" style="display: inline-block;">Marineros</h6>
                            </div>
                            <div>
                                <div>
                                    <label style="font-size: medium; font-weight: bold; display: inline-block;">Tipo de vehiculo:</label>
                                    <h6 class="card-title" style="display: inline-block;">Lancha</h6>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <a type="button" class="btn btn-primary text-white btn-modify">Modificar</a>
                                &nbsp;
                                <a type="button" class="btn btn-secondary text-white btn-delte">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
